<html>
<head>
	<title>Cinema</title>
	<style>
		#hack-header {color: purple;
			font-size: 20px;}
			.hack-text {color: blue;
				background: #FF9800;}
				p {padding: 30px;}
			</style>
		</head>
		<body>

			<h1 id="hack-header">
				Movie Reservation
			</h1>
			<hr></hr>
			<table class="table" border="1" style="width:50%">
				<tr>
					<thead>
						<th>Movie</th>
						<th>Genre</th> 
						<th>Raiting</th>
					</thead>
				</tr>
				{% for movie in movies %}
				<tr class="alt">
					<td>
						{{movie.name}}
					</td>
					<td>
						{{movie.raiting}}
					</td>
					<td>
						{{movie.length}}
					</td>
				</tr>
				{% endfor %}
			</table>

			<h1 id="hack-headers" >Projections</h1>

			<table class="table" border="1" style="width:50%">
				<tr>
					<thead>
					<th>Movie</th>
					<th>Type</th> 
					<th>Time</th>
					<th>Reservation</th>
					</thead>
				</tr>
				{% for projection in projections %}
				<tr class="alt">
					<td>
						{{projection.movie_id}}
					</td>
					<td>
						{{projection.get_type_display}} 
					</td>
					<td>{{projection.projection_time}}</td>
					<td><a href="/reservation/{{ projection.id }}" button >Make Reservation</a></td>
				</tr>
				{% endfor %}
			</table>

	</body>


	</html>